@import "~fullpage.js/dist/jquery.fullpage.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

.center {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.big {
  font-size: 6em;
}
.really-big {
  font-size: 8em;
}
.medium {
  font-size: 5em;
}
.smaller {
  font-size: 3em;
}
